<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Insufficient funds</title>
  </head>
  <body>
    <container
      style="
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        font-family: poppins;
      ">
      <div>
        <div align="center" style="border-radius: 4px">
          <img
            src="https://res.cloudinary.com/dev-sylvia/image/upload/v1682590094/uiqz316o8wzfddmz78sx.png"
            width="250px"
            height="120px"
            style="padding-top: 5px; object-fit: contain"
            alt="Pakam logo"
            border="0" />
        </div>

        <h2 style="color: #03903e">Hi <%= name %></h2>
      </div>

      <div>
        <h3>
          We are writing to inform you that an automated deposit into your
          account, scheduled for [Date], could not be processed due to
          insufficient funds in your primary money source (wallet). We wanted to
          bring this matter to your attention and provide you with the necessary
          information regarding the failed deposit.
        </h3>
      </div>

      <div>
        <p>
          Deposit Details: Amount: [Amount of the deposit] Date of Deposit:
          [Date of the deposit] Reason: Insufficient funds in your primary money
          source (wallet) We understand that situations like these can be
          unexpected and inconvenient. To rectify this issue and ensure that
          your account remains up to date, we kindly request that you take the
          following actions: Check Your Primary Money Source (Wallet): Please
          verify the balance in your primary money source (wallet) to ensure
          that it has sufficient funds to cover the deposit amount.
        </p>
      </div>

      <div>
          <button
            style="
              background-color: #03903e;
              color: white;
              padding: 15px 20px 15px 20px;
              border-radius: 5px;
              outline: none;
              border: none;
              text-decoration: none;
              cursor: pointer;
            ">
           Deposit failed
          </button>
        </a>
      </div>

      <div>
        <h5>
            Thank you for your attention to this matter, and we appreciate your cooperation in resolving this issue promptly.
        </h5>
      </div>

      <div
        style="
          background-color: #2e53ef;
          color: white;
          border-radius: 5px;
          padding: 10px 20px 10px 20px;
        ">
        <p style="margin: 0">Cheers to Healthy Living!</p>
        <p style="margin: 0">The PAKAM Team ♻</p>
      </div>

      <div>
        We apologize for any inconvenience this may have caused you.
      </div>
    </container>
  </body>
</html>
